/*
 Theme Name:     Divi Child
 Theme URI:      https://www.elegantthemes.com/gallery/divi/
 Description:    Divi Child Theme
 Author:         Elegant Themes
 Author URI:     https://www.elegantthemes.com
 Template:       Divi
 Version:        1.0.0
*/
 
 
/* =Theme customization starts here
------------------------------------------------------- */
.sponsorship-card {
    padding: 20px 0; 
    border: 1px solid #ecf0f1; 
    width: 300px; 
    float: left; 
    margin: 10px;
}

.sponsorship-card p, .sponsorship-card h3 {
    padding: 20px;
    text-align: center;
}

.smallbluesponsor-btn {
    margin: 0 auto !important;
    display: inline-block !important;
}